<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BeyondCompareExe" value="C:\\Program Files\\Beyond Compare 4\\BCompare.exe"/>
    <!--<add key="CompareFolder" value="Y:\Depts\IT\SystemsDevelopment\ModuleCompare"/>-->
    <add key="CompareFolder" value="C:\\TEMP"/>
    <add key="CompareOutputFolder" value="C:\\TEMP\\SPO_fake"/>
    <add key="CompareScript" value="C:\\Users\\Jason.Baker\\Projects\\GitHub\\CompareAutomation\\CompareAutomation\\comparescript.scr"/>
    <add key="EmailList" value="JBAKER1:JASON.BAKER@SAFELITE.COM;LYUAN:LIPING.YUAN@SAFELITE.COM;DLANGME:DENNIS.LANGMEYER@SAFELITE.COM;RMCCOMB:RANDY.MCCOMBS@SAFELITE.COM;TMCQUIL:TERRY.MCQUILLAN@SAFELITE.COM"/>
  </appSettings>
</configuration>